@import "tailwindcss";

@theme inline {
  --font-outfit: var(--font-outfit);

  --color-dark-navy: #1a2a33;
  --color-semi-darknavy: #1f3641;
  --color-silver: #a8bfc9;
  --color-silver-hover: #dbe8ed;
  --color-light-blue: #31c3bd;
  --color-lightblue-hover: #65e9e4;
  --color-light-yellow: #f2b137;
  --color-lightyellow-hover: #ffc860;
}
